
<h5>{{ get_player_name() }}</h5>
<ul>
    <li>{{ get_player_popularity() }}</li>
</ul>


<div *ngIf="gamestate=='CHOOSING'">
    <h6>Players</h6>
    <ul *ngIf="get_room_users()">
        <li *ngFor="let user of get_room_users()">{{ user.name }} ({{ user.id }}) ({{ user.status }})</li>
    </ul>

    <h6>Timer</h6>
    <p>{{ get_clock() }}</p>

    <h5>Actions</h5>
    <ul>
        <li *ngFor="let action of get_actions()"><button (click)="register_action(action)">{{ action.name }}</button></li>
    </ul>
</div>

<div *ngIf="gamestate=='PROCESSING'"></div>

<app-action></app-action>
